<nav><Button routerLink="/add">Add</Button></nav>

<table>
    <thead>
        <th>Company Name</th>
        <th>Contact Person</th>
        <th>Location</th>
        <th>Phone Number</th>
        <th>Number Of Employees</th>
    </thead>
    <tbody>
        <tr *ngFor="let customer of customers">
            <td>{{customer.name}}</td>
            <td>{{customer.contact}}</td>
            <td>{{customer.location}}</td>
            <td>{{customer.phoneNb}}</td>
            <td>{{customer.employees}}</td>
            <button (click)="edit(customer)">Edit</button>
            <button (click)="delete(customer.id)">Delete</button>
        </tr>
    </tbody>
</table>